[submodule "metadata/guidance"]
	path = metadata/guidance
	url = https://github.com/practical-precip/guidance.git
	branch = main
[submodule "metadata/datasets"]
	path = metadata/datasets
	url = https://github.com/practical-precip/datasets.git
	branch = main
